{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js"></script>
{% endblock css %}

{% block maincontent %}
    {% if context.type == "failed" %}
        <div class="alert alert-danger m-3">
            <p>失敗</p>
            <p>
                {% if context.error == "date" %}
                    日付が正しくないよ
                {% elif context.error == "lack" %}
                    情報が足りません
                {% elif context.error == "method" %}
                    アクセス方法が正しくないよ
                {% elif context.error == "radio" %}
                    入力項目が正しくありませんでした
                {% endif %}
            </p>
        </div>
    {% elif context.type == "success" %}
        <div class="alert alert-success">
            ありがとう
        </div>
    {% endif %}
    <div class="text-center">
        <a href='{% url "post" %}' class="btn btn-primary">日程を登録する</a>
    </div>
    <div id='calendar'></div>
{% endblock maincontent %}

{% block js %}
    <script type="text/javascript">
        const cal = document.getElementById("calendar")
        document.addEventListener("DOMContentLoaded",function(){
            const calendar = new FullCalendar.Calendar(cal,{
                headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
              },
              locale: "ja",
              navLinks: true,
              businessHours: true,
              editable: false,
              selectable: false,
              eventLimit: true,
              weekNumbers: false,
              events: [
                {
                    title: "経験値2倍",
                    start: "2021-03-02",
                    end: "2021-03-02"
                },{
                    title: "イベント",
                    start: "2021-03-03T20:30:00",
                    end: "2021-03-03T22:30:00"
                }],
                events: "{% url 'get_event' %}"
            })
            calendar.render();
        })
    </script>
{% endblock js %}