{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.css" integrity="sha512-OtwMKauYE8gmoXusoKzA/wzQoh7WThXJcJVkA29fHP58hBF7osfY0WLCIZbwkeL9OgRCxtAfy17Pn3mndQ4PZQ==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/themes/material_green.css" integrity="sha512-bKUTJxR2+ofaTTNdnVdBDp4Hw0DkyFOH6HczeoYBj2pt7OCo+9mb1rFI6+i92YQO/NWRGQsItwETMZ/I2rcrIw==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js" integrity="sha512-+ruHlyki4CepPr07VklkX/KM5NXdD16K1xVwSva5VqOVbsotyCQVKEwdQ1tAeo3UkHCXfSMtKU/mZpKjYqkxZA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/l10n/ja.min.js" integrity="sha512-XamS5TTeqwEqePo/YxW3AFGwvEcQzN520Om7b1eB/LYHt6tLgXZeutZPPF8D0sIo7YndJEpCEhKwvf62U780Dw==" crossorigin="anonymous"></script>
<style type="text/css">
    .calendars{
        text-align:center;
    }
    .cal_container{
        display: inline-block;
        text-align: center;
    }
    .picker{
        display: none;
    }
</style>
{% endblock css %}

{% block maincontent %}
    <h1>{{ context.foo }}</h1>
    <form method="POST" action="{% url 'saves' %}">{% csrf_token %}
        <input type="text" name="title" placeholder="タイトル" required>
        <div class="forms">
            <label>
                <input type="radio" name="types" data-label="times">
                <span>時間</span>
            </label><label>
                <input type="radio" name="types" data-label="allday">
                <span>終日</span>
            </label>
        </div>
        <div class="calendars">
            <div class="cal_container">
                <p>日付</p>
                <input class="picker day" name="thisDay" data-cal="false" data-time="false" data-format="Y-m-d" required>
            </div>
            <div class="cal_container">
                <p>開始時間</p>
                <input class="picker prev" name="startTime" data-cal="true" data-time="true" data-format="H:i" required>
            </div>
            <div class="cal_container">
                <p>終了時間</p>
                <input class="picker next" name="endTime" data-cal="true" data-time="true" data-format="H:i" required>
            </div>
        </div>
        <input type="submit" value="submit" class="submitter" disabled="true">
    </form>
{% endblock maincontent %}

{% block js %}
    <script type="text/javascript">
        const toBool = (str) => str.toLowerCase() === "true"
        function times(){
            document.querySelectorAll(".picker").forEach(function(el){
                flatpickr(el,{
                    locale: "ja",
                    enableTime: toBool(el.dataset.time),
                    noCalendar: toBool(el.dataset.cal),
                    dateFormat: el.dataset.format,
                    inline: true,
                    time_24hr: true,
                    onChange: function(e){
                        const submitBtn = document.querySelector(".submitter")
                        const prev = document.querySelector(".prev").value
                        const next = document.querySelector(".next").value
                        if(next > prev && prev && next)
                            submitBtn.disabled = false;
                        else if(!submitBtn.disabled)
                            submitBtn.disabled = true
                    }
                });
            })
        }
        times()
    </script>
{% endblock js %}