{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.css" integrity="sha512-OtwMKauYE8gmoXusoKzA/wzQoh7WThXJcJVkA29fHP58hBF7osfY0WLCIZbwkeL9OgRCxtAfy17Pn3mndQ4PZQ==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/themes/material_green.css" integrity="sha512-bKUTJxR2+ofaTTNdnVdBDp4Hw0DkyFOH6HczeoYBj2pt7OCo+9mb1rFI6+i92YQO/NWRGQsItwETMZ/I2rcrIw==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js" integrity="sha512-+ruHlyki4CepPr07VklkX/KM5NXdD16K1xVwSva5VqOVbsotyCQVKEwdQ1tAeo3UkHCXfSMtKU/mZpKjYqkxZA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/l10n/ja.min.js" integrity="sha512-XamS5TTeqwEqePo/YxW3AFGwvEcQzN520Om7b1eB/LYHt6tLgXZeutZPPF8D0sIo7YndJEpCEhKwvf62U780Dw==" crossorigin="anonymous"></script>
<style type="text/css">
    .calendars{
        text-align:center;
    }
    .cal_container{
        display: inline-block;
        text-align: center;
        vertical-align: top;
    }
    .cal_times{
        margin: 8px 0px;
    }
    .picker{
        display: none;
    }
</style>
{% endblock css %}

{% block maincontent %}
    <h1>{{ context.foo }}</h1>
    <form method="POST" action="{% url 'index' %}" onsubmit="return test()">{% csrf_token %}
        <input type="text" class="w-100 required" name="title" placeholder="タイトル" required>
        <div class="forms">
            <label>
                <input type="radio" name="types" data-label="times" value="times" checked>
                <span>時間</span>
            </label><label>
                <input type="radio" name="types" data-label="allday" value="allday">
                <span>終日</span>
            </label>
        </div>
        <div class="calendars">
            <div class="cal_container">
                <p>日付</p>
                <input class="picker day required" name="thisDay" data-cal="false" data-time="false" data-format="Y-m-d" required>
            </div>
            <div class="cal_container calendar_times">
                <div class="cal_times">
                    <p>開始時間</p>
                    <input class="picker prevTime required times" name="startTime" data-cal="true" data-time="true" data-format="H:i" required value="00:00">
                </div>
                <div class="cal_times">
                    <p>終了時間</p>
                    <input class="picker nextTime required times" name="endTime" data-cal="true" data-time="true" data-format="H:i" required value="00:00">
                </div>
            </div>
        </div>
        <input type="submit" value="submit" class="submitter w-100">
    </form>
{% endblock maincontent %}

{% block js %}
    <script type="text/javascript">
        const toBool = (str) => str.toLowerCase() === "true"
        function init(){
            document.querySelectorAll(".picker").forEach(function(el){
                flatpickr(el,{
                    locale: "ja",
                    enableTime: toBool(el.dataset.time),
                    noCalendar: toBool(el.dataset.cal),
                    dateFormat: el.dataset.format,
                    inline: true,
                    time_24hr: true,
                    defaultHour: 0
                });
            });
            document.querySelectorAll(".forms input[type=radio]").forEach(function(e){
                e.addEventListener("click",function(el){
                    if(el.srcElement.dataset.label == "times"){
                        document.querySelector(".calendar_times").style.display = "inline-block"
                        document.querySelectorAll(".times").forEach(function(e){
                            e.classList.add("required")
                        })
                    }else if(el.srcElement.dataset.label == "allday"){
                        document.querySelector(".calendar_times").style.display = "none"
                        document.querySelectorAll(".times").forEach(function(e){
                            e.classList.remove("required")
                        })
                    }
               });
            });
        }
        window.onload = init
        function test(){
            let require_flag = false;
            document.querySelectorAll(".required").forEach(function(e){
                if(!e.value)
                    require_flag = true
            });
            if(require_flag)
                return false
        }
        
    </script>
{% endblock js %}